/* universal styling */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

:root {
    --pur500: #5b1ee9;
    --pur700: #3411af;
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding: 50px 0;
    font-size: 1.5em;
}

#viewHighScore {
    color: var(--pur500);
}

#viewHighScore:hover {
    color: var(--pur700);
    font-weight: bold;
}

body {
    background-color: white;
}

#container {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

h2 {
    font-size: 2em;
}

#description {
    margin-top: 30px;
    margin-bottom: 70px;
}

.button,
.choice-button {
    background-color: var(--pur500);
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover,
.choice-button:hover {
    background-color: var(--pur700);
}

#options {
    padding-top: 30px;
}

.choice-button {
    display: block;
    margin-bottom: 15px;
}

#answer-check {
    font-size: 1.15em;
    font-style: italic;
    opacity: 80%;
    margin-top: 10px;
}

#int-text,
#intials,
#submit-btn {
    display: block;
    margin-top: 15px;
}

#initials {
    width: 40%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}

#hs-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

#highscore-list {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 1.15em;
    line-height: 1.5em;
}

#clear-btn {
    margin-left: 20px;
}
